:root {
  /* colors */
  --elements: hsl(209, 23%, 22%); /*blue 900*/
  --Bg-dark: hsl(207, 26%, 17%); /*blue 950*/
  --text-color: hsl(200, 15%, 8%); /* grey 950 */
  --input-color: hsl(0, 0%, 50%); /* grey 400*/
  --grey-350: hsl(0, 0%, 59%); /*gr350*/
  --grey-300: hsl(0, 0%, 70%); /*gr300*/
  --Bg-light: hsl(0, 0%, 99%); /*grey 250*/
  --White: hsl(0, 100%, 100%); /* white*/

  /* spacing */

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: nunito;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--Bg-light);
}

body.theme-dark {
  font-family: nunito;
  background-color: var(--Bg-dark);
  color: var(--White);
  .search-input,
  .filter-dropdown {
    background-color: var(--elements);
    color: var(--White);
  }
  a,
  .toggle-btn {
    color: var(--White);
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
  a {
    color: var(--text-color);
    font: inherit;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
  }
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--text-color);
    font-style: inherit;
    background-color: transparent;
    cursor: pointer;
    gap: var(--spacing-100);
  }
}

.search-container {
  display: block;
  margin: 24px 16px;
  .search-bar {
    position: relative;
    display: block;
    .icon {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 20px;
      left: 30px;
    }
  }
}

.search-input {
  font-style: inherit;
  padding: 20px 20px 20px 70px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
  margin: auto;
  outline: none;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px;
  .filter-dropdown {
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
}

.cards-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-400);
  margin: var(--spacing-400) var(--spacing-200);
}

.country-card {
  padding-bottom: 50px;
  width: 264px;
  height: 336px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 9, 10%);
  overflow: hidden;
  .country-info img {
    height: 160px;
    width: 264px;
  }
  .country-details {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    .details {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-100);
    }
  }
}
