:root {
  /* colors */
  --elements: hsl(209, 23%, 22%); /*blue 900*/
  --Bg-dark: hsl(207, 26%, 17%); /*blue 950*/
  --text-color: hsl(200, 15%, 8%); /* grey 950 */
  --input-color: hsl(0, 0%, 50%); /* grey 400*/
  --grey-350: hsl(0, 0%, 59%); /*gr350*/
  --grey-300: hsl(0, 0%, 70%); /*gr300*/
  --Bg-light: hsl(0, 0%, 99%); /*grey 250*/
  --White: hsl(0, 100%, 100%); /* white*/

  /* spacing */

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: nunito;
  color: var(--text-color);
  background-color: var(--Bg-light);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
  a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
  }
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    gap: var(--spacing-100);

    p {
      font-size: 12px;
    }
  }
}

.search-container {
  display: block;
  margin: 24px 16px;
  .search-bar {
    position: relative;
    display: block;
    .icon {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 20px;
      left: 30px;
    }
  }
}

.search-input {
  padding: 20px 20px 20px 70px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
  margin: auto;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px;
  .filter-dropdown {
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 9, 5.32%);
    background-color: var(--White);
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
  }
}
